@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F72585;
}

.start-screen {
    position: absolute;
    top: 0;
    background-color: #F72585;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 20px;
    outline: none;
}

.btn {
    width: 240px;
    height: 70px;
    padding: 10px 25px;
    border: 2px solid #000;
    background: #f635d9;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    position: relative;
    color: #000;
    z-index: 2;
    line-height: 40px;
    padding: 0;
}

#start-btn {
    position: relative;
    color: #000;
    z-index: 2;
    line-height: 40px;
    letter-spacing: 0.25em;
    padding: 0;
    font-size: 1.25em;
    font-weight: 500;
    box-shadow: 0px 0px 64px 4px rgb(81, 10, 81);
}

#start-btn:hover{
    border: none;
}

#start-btn:before,
#start-btn:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border: 2px solid;
    z-index: -1;
    transition: all 0.3s ease;
}

#start-btn:before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #000;
    border-left-color: #000;
}

#start-btn:after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #000;
    border-right-color: #000;
}

#start-btn:hover:before,
#start-btn:hover:after {
    border-color: #000;
    height: 100%;
    width: 100%;
}

.hide {
    display: none;
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

#display-container {
    background-color: #fff;
    padding: 3em 2em;
    width: 90%;
    max-width: 37em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.8em;
    box-shadow: 0 1.5em 3em rgba(100, 0, 62, 0.5);
}

.app-title {
    text-align: center;
    font-weight: 500;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #adadad;
}

.score {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 1em 0 2em 0;
}

.streak-div, .timer-div {
    background-color: #020130;
    padding: 0.5em 2em;
    color: #fff;
    border-radius: 1.4em;
}

.question {
    text-align: center;
    font-size: 2em;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.optionEl {
    width: 100%;
    padding: 1em;
    margin: 1.8em 0 0.3em;
    text-align: center;
    outline: none;
    background-color: #fff;
    border: 2px solid #020130;
    border-radius: 2em;
    cursor: pointer;
    color: #020130;
}

.optionEl:disabled {
    cursor: not-allowed;
    color: #020130;
}

.correct {
    border: none;
    background-color: #2fe004;
    color: #fff;
}

.incorrect {
    border: none;
    background-color: #ee4d38;
    color: #fff;
}